<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>LSUIElement</key>
		<true />
		<key>NSAudioCaptureUsageDescription</key>
		<string>This app needs to capture system audio for displaying the waveform.</string>
		<key>SUFeedURL</key>
		<string>https://raw.githubusercontent.com/zephkelly/rtaudio/main/appcast.xml</string>
		<key>SUPublicEDKey</key>
		<string><!-- Run `generate_keys` from Sparkle's bin/ and paste your public key here --></string>
	</dict>
</plist>